html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;  
  font-family: Arial, sans-serif;
}


.dashboard-container {
  background: #f7f9fb;
  padding: 20px 40px;   
}


.header-container {
  padding: 25px 0;
  background: #222;
  color: white;
  text-align: center;
}

.header-container h1 {
  font-size: 32px;
  margin: 0;
  font-weight: 600;
}

.filters {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.filters select {
  padding: 8px 12px;
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 6px;
  background: #222;
  color: white;
  font-size: 14px;
}

.summary-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  padding: 0 10px;
}

.summary-cards > div {
  flex: 1;                         
  background: white;
  border-radius: 14px;
  padding: 18px 10px;              
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  text-align: center;
  height: 110px;                   
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.25s ease;
}

.summary-cards > div:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.summary-cards h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.summary-cards p {
  margin-top: 8px;
  font-size: 22px;               
  font-weight: bold;
  color: #333;
}


.dashboard-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  width: 100%;
}

.table-left {
  background: white;
  border-radius: 12px;
  margin-top: 20px;
  padding-left: 6px; 
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  color: black;
  height: 360px;      
  overflow-y: auto;    

  margin-right: 5px;
}

.table-container {
  width: 100%;
  border-collapse: collapse;
}


.table-container th,
.table-container td {
  padding: 10px;
  text-align: left;
}

.table-container th {
  background: rgb(162, 216, 216);
  position: sticky;

  top: 0;
  z-index: 5;
  font-weight: bold;
}

/* responsive */
@media (max-width: 1100px) {
  .dashboard-content {
    grid-template-columns: 1fr;
  }
}

.graph-right {
  background: white;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-top: 20px;
  height: 360px;     /* SAME height as table */
  overflow: hidden;
}

